/* Responsividade para aparelhos moveis */
@media (max-width: 520px) {
    .caixa-calculadora{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 100% !important;
        padding: 15px 0;
    }
    .caixa-teclado-tela{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100% !important;
    }
    .botao{
        width: 60px;
        height: 50px;
        font-size: 30px;
    }
    p{
        height: 60px;
        font-size: 48px;
        width: 260px;
        margin: 5px 0;
    }
    .creditos{
        height: 70px;
        font-size: 20px;
    }
    .creditos a{
        font-size: 20px;
    }
    /* Msg de alerta */
    .caixa-alerta{
        color: #fff;
        width: 250px;
        padding: 10px;
    }
    .caixa-alerta h1{
        font-size: 30px;
    }  
    /* Aba de historico */
    #historico{
        width: 245px;
        font-size: 20px;
    }
    .botao-fechar-historico{
        display: block;
        visibility: hidden;
    }
}
