/* Responsividade para aparelhos moveis */
@media screen and (max-width: 600px) {
    .caixa-calculadora{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 100vw;
        padding: 15px 0;
    }
    button{
        width: 70px;
        height: 60px;
        font-size: 50px;
    }
    p{
        height: 80px;
        font-size: 50px;
        width: 290px;
        margin: 5px 0;
    }
    .creditos{
        height: 70px;
        font-size: 20px;
    }
    .creditos a{
        font-size: 25px;
    }
}