@font-face {
    font-family: 'rainyhearts';
    src: url(/fonts/rainyhearts.ttf);
}
*{
    padding: 0;
    margin: 0;
    text-decoration: 0;
    font-style: none;
    border: none;
    font-family: 'rainyhearts';
    font-size: 20px;
}
main{
    background-color: #222222;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.caixa-calculadora{
    background-color: #161616;
    padding: 5px;

}
p{
    max-width: 18ch;
    text-align: end;
    background-color: #ffffff;
    height: 25px;
    margin: 5px;
}
button{
    color: #ffffff;
    background-color:#0f6cb9;
    height: 30px;
    width: 35px;
    cursor: pointer;
    border-bottom: solid 5px rgb(3, 59, 104);
}
button:hover{
    color: #000000;
    background-color: #ffffff;
    border-bottom: solid 5px #9e9e9e;
}
.numeros{
    color: #ffffff;
    background-color: #f34040;
    border-bottom: solid 5px #a52121;
}
button:active{
    background-color: #9e9e9e;
}
.primeira-coluna{
    color: #ffffff;
    background-color: #f38840;
    border-bottom: solid 5px #a55121;
}
.creditos{
    color:#f34040;
    background-color: #161616;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.creditos a{
    text-decoration: none;
    color: #0f6cb9;
    padding: 0 1ch;
}