@font-face {
    font-family: 'rainyhearts';
    src: local(rainyhearts) url(fonts/rainyhearts.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: 0;
    font-style: none;
    border: none;
    font-family: 'VT323', monospace;
    font-size: 20px;
}
main{
    background-color: #222222;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Caixa preta onde envolta a tag <table> e <p> */
.caixa-calculadora{
    background-color: #161616;
    padding: 5px;
}
p{
    max-width: 20ch;
    text-align: end;
    background-color: #ffffff;
    height: 25px;
    margin: 5px;
}
button{
    color: #ffffff;
    background-color:#0f6cb9;
    height: 30px;
    width: 35px;
    cursor: pointer;
    border-bottom: solid 5px rgb(3, 59, 104);
}
button:hover{
    color: #000000;
    background-color: #ffffff;
    border-bottom: solid 5px #9e9e9e;
}
.numeros{
    color: #ffffff;
    background-color: #f34040;
    border-bottom: solid 5px #a52121;
}
button:active{
    background-color: #9e9e9e;
}
.primeira-coluna{
    color: #ffffff;
    background-color: #f38840;
    border-bottom: solid 5px #a55121;
}

/* Estilização da div de creditos do Github (gsantos-f) */
.creditos{
    color:#f34040;
    background-color: #161616;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.creditos a{
    text-decoration: none;
    color: #0f6cb9;
    padding: 0 1ch;
}
/* Estilização da mensagem de alerta */
.caixa-alerta{
    color: #fff;
    width: 155px;
    padding: 10px;
    margin-top: 10px;
    background-color: #f34040;
    border-bottom: 4px solid #a52121;
    text-align:center;
    display: none;
}
.caixa-alerta h1{
    font-weight: 100;
}
